body{
  background-color: #1F1F1F;
  font-family: 'Raleway', sans-serif;
}

h1{
  font-size: 60px;
}

p{
  font-size: 20px;
}

a, a:visited, a:hover, a:focus, a:active{
  padding: 1rem;
  color: white;
  cursor: default;
}

i{
  cursor: pointer;
}

h1, p, img, button{
  max-height: inherit;
}

.content {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.vertical-center {
    display: table-cell;
    vertical-align: middle;
    min-height: 100%;
    position: relative;
}

.work-content{
  padding: 0;
}
.center{
  position: relative;
  visibility: hidden;
  max-height: 0;
  text-align: center;
  color: white;
}

.footer{
  bottom: 0;
  right :0;
  height: 36px;
  position: absolute;
  text-align: right;
  margin: 5px;
}

.headshot{
  max-width: 150px;
  height: auto;
  border-radius: 20px;
  margin-bottom: 10px;
}

 #ultimate-logo{
   max-width: 200px;
   height: auto;
   /*float: left;*/
 }

 .experience-item{
   /*overflow: auto;*/
   /*margin: 50px;*/
 }

.btn-next, .btn-next:hover, .btn-next:active, .btn-next:focus{
  background: none;
  color: white;
  outline: 0 !important;
  border: 0;
  margin-right: 5px;
  margin-left: 5px;
}

/*Animations*/
.fade{
  opacity: 0;
  -webkit-transition: opacity 1.2s ease-in;
         -moz-transition: opacity 1.2s ease-in;
          -ms-transition: opacity 1.2s ease-in;
           -o-transition: opacity 1.2s ease-in;
              transition: opacity 1.2s ease-in;
}

.load{
  visibility: visible;
  max-height: 100%;
  opacity: 1;
}

.center.load{
  padding: 0 0 70px;
}
